$purple: #C961DE;
$brandBlue: #0F103F;
$buttonBackgroundBlue: rgba(201, 97, 222, 0.15);
$buttonBorderGradient: linear-gradient(101.1deg, rgba(127, 17, 224, 0.55) 1.23%, rgba(41, 84, 163, 0.55) 100.15%);
